<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: header-links"></head>
<body>

<nav th:replace="partials/navbar :: navbar"></nav>

<div class="container">
    <h1 class="my-4">Create Post</h1>

    <form th:action="@{/posts/{id}/edit(id=${post.id})}" th:method="POST" th:object="${post}">
        <div class="form-group">
            <label for="title">Title</label>
            <input class="form-control" type="text" id="title" th:field="*{title}" th:value="${post.title}" th:placeholder="#{post.title}"/>
        </div>
        <div class="form-group">
            <label for="body">Body</label>
            <textarea class="form-control" id="body" th:field="*{body}" th:text="${post.body}" th:placeholder="#{post.body}"></textarea>
        </div>

        <input class="btn btn-primary" type="submit" value="Edit Post" />
    </form>

    <form th:action="@{|/posts/${post.id}/delete|}" th:method="POST">
        <input class="btn btn-danger" type="submit" value="Delete Post" />
    </form>
</div>


</body>
</html>

