<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>
<h1 th:text="${cohort}"></h1>

<form action="/join" method="post">
	<label for="cohort-ip">Cohort Name</label>
	<input type="text" name="cohort" id="cohort-ip" class="field" />
	<button>Join now</button>
</form>
</body>
</html>